@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

*,
html {
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-body {
  background-color: #000;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #000; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* padding: 16rem 8rem; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
  /* vertical gradient, from the top, the first 80% will be completely transparent, opacity 0, then in the last 20% it will turn full black */
  background: rgba(0, 0, 0, 1);
}

.App-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 80%,
    rgba(0, 0, 0, 1) 100%
  );
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
